<div class="album text-muted">
	<div class="container">
		<%= paginate @portfolio_items %>

		<div id="sortables">
			

			<%= render partial: 'portfolio_item', collection: @portfolio_items %>
			
		</div>
		<%= paginate @portfolio_items %>


	</div>
</div>