<div class="masthead clearfix">
	<div class="inner ">
		<h3 class="masthead-brand">Sushmitha Gowda</h3>
		<nav class="nav nav-masthead app-nav ">
					<%= nav_helper 'nav-link', '' %>
					<%= login_helper 'nav-link' %>
		</nav>
	</div>
</div>