<h1>Pages#contact</h1>

<p><%= number_to_phone "9876543212" %></p>

<p><%= number_to_currency "980" %></p>

<p><%= number_to_percentage "98" %></p>

<p><%= number_with_delimiter "9876545673212" %></p>